<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Xceleration</string>
		<key>GIDClientID</key>
		<string>529053126812-cuhlura1vskuup3lg6hpf6iup6mlje6v.apps.googleusercontent.com</string>
		<key>GIDServerClientID</key>
		<string>529053126812-9pc03ju6t4ta8sjl9kp17cn4lr8lucm7.apps.googleusercontent.com</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Xceleration</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.529053126812-cuhlura1vskuup3lg6hpf6iup6mlje6v</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleURLName</key>
				<string>google</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.529053126812-cuhlura1vskuup3lg6hpf6iup6mlje6v</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<true/>
		<key>NSBonjourServices</key>
		<array>
			<string>_wirelessconn._tcp</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>This app needs access to your camera to scan QR codes.</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>Need local network permission for peer-to-peer data sharing</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Location access is required to determine race locations.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Location access is required to save race locations.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app needs access to play audio to let you know when buttons have been pressed or actions have been completed</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Access to photo library is needed to upload photos of runner bib numbers.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIFileSharingEnabled</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
	</dict>
</plist>
